main {
  padding: 48px 16px 64px;
  display: grid;
  justify-content: center;
}

.content {
  max-width: 800px;
  text-align: center;
  display: grid;
  justify-content: center;
}

p {
  margin-top: 8px;
}

h5 {
  color: #5f5f5f;
  margin-top: 8px;
}

.examplesButton {
  text-decoration: underline;
  cursor: pointer;
  color: #5f5f5f;
  transition: all 0.15s;
}

.examplesButton:hover {
  color: #181818;
}

.fileImage {
  margin: 16px auto 0;
  max-width: 600px;
  box-shadow: 2px 2px 8px 4px lightgrey;
}

.fileButtons {
  display: flex;
  gap: 8px;
  justify-content: center;
}

input[type="file"] {
  display: none;
}

.exampleSelect {
  margin: 8px auto 0;
  width: 150px;
}

.fileButton {
  margin-top: 12px;
  padding: 8px 16px;
  border-radius: 12px;
  background-color: #d44a7f;
  border: none;
  color: white;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.15s;
  width: min-content;
  white-space: nowrap;

  box-shadow: 2px 2px 2px 2px lightgrey;
}

.fileButton:hover {
  background-color: #e86697;
}

.fileButton:active {
  background-color: #b43264;
}

.fileButton:disabled {
  background-color: #e8a2bd;
  cursor: default;
}

.selectedFile {
  margin-top: 16px;
  font-size: 14px;
}

.sectionTitle {
  margin-top: 32px;
  color: black;
}

.loading {
  margin-top: 12px;
  font-size: 16px;
}

@media (max-width: 720px) {
  .fileImage {
    max-width: 90%;
  }
}
