nav {
  height: 100%;
  background-color: #c23a6e;
  display: flex;

  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 8px 8px lightgrey;
}

h2 {
  padding: 0 32px;
  color: white;
}

nav ul {
  padding: 0 32px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navLink {
    text-decoration: none;
    color: #fbced1;
    font-weight: bold;
    transition: all 0.15s;
}

.navLink:hover {
    color: #ffffff;
}

.navLink:active {
    color: #b1b1b1;
}

.selectedLink {
    color: #ffffff;
}

@media (max-width: 720px) {
    h2 {
      padding: 0 12px;
    }
  
    nav ul {
      padding: 0 12px;
    }
}